* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

#main-header {
    background: #fff;
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    background: #F2C65A;
    padding: 2rem 0;
}

#main-footer {
    text-align: center;
    background: #eee;
    padding: 1rem;
    color: #999;
    font-size: 0.9rem;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

/* ---HEADER--- */

.logo, .gnb, .gnb__lisitems li {
    display: inline-block;
}

.gnb__lisitems li {
    padding: 0 2rem;
}

.gnb__lisitems .current {
    font-weight: bold;
    color: #E95567;
}

/* ---MAIN--- */

.main-intro h2 {
    text-align: center;
    padding: 5rem 0;
    font-family: 'Sriracha', cursive;
    color: #230202;
    font-size: 4rem;
}

.foodlist-items {
    padding-bottom: 5rem;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.foodlist-items__title {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Sriracha', cursive;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #230202;
}

.foodlist-item {
    width: 16rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background: #fff;
    border-radius: 0.2rem;
    overflow: hidden;
}

.foodlist-item img {
    width: inherit;
}

.foodlist-item__desc {
    padding: 1rem;
}

.foodlist-item__desc h4{
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.foodlist-item__desc p{
    font-size: 0.9rem;
}
/* #F2C65A */
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Sriracha', cursive; */